.page-select-button {
    padding: 10px 20px;
    font-size: 1.2em;
    color: var(--text-color);
    background-color: var(--button-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px; /* Add a margin to the buttons */
}

.page-select-button:hover {
    background-color: var(--button-color-hover);
}