:root {
    --primary-color: #020b1d; /* Deep space blue */
    --secondary-color: #0d1f2d; /* Slightly lighter deep space blue */
    --tertiary-color: #23394e; /* Dark greyish blue */
    --button-color: #1e3b5a; /* Lighter deep space blue */
    --button-color-hover: #2c5078; /* Even lighter deep space blue */
    --font-family: 'Roboto', sans-serif;
    --text-color: #bdc0c6; /* Light grey for contrast */
    --transparent-bg: rgba(255, 255, 255, 0.1);
    --blur-effect: blur(60%);
    --deep-blur-effect: blur(90%);
    --border-style: 1px solid rgba(255, 255, 255, 0.2);
    --border-radius: 10px;
    --margin: 10px;
    --padding: 10px;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background: linear-gradient(45deg, var(--primary-color) 0%, var(--secondary-color) 50%, var(--primary-color) 100%);
    background-size: 200% 200%;
    animation: gradient 10s ease-in-out infinite;
}

@keyframes gradient {
    0%, 100% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 0 50%;
    }
}

.chat-container, .chat-login-page-container {
    font-family: var(--font-family);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    max-width: 600px;
    height: 95vh;
    border-radius: var(--border-radius);
    margin: var(--margin) auto;
}

.chat-container div, .chat-log div, .chat-username, .chat-message-input {
    border-radius: var(--border-radius);
    margin: var(--margin);
    padding: var(--padding);
    background-color: var(--transparent-bg);
    backdrop-filter: var(--deep-blur-effect); /* Use the increased blur effect */
    -webkit-backdrop-filter: var(--deep-blur-effect); /* For Safari */
    border: var(--border-style);
}


.chat-login-page-controls-container {
    margin: var(--margin) 100px;
    font-size: 18px;
}

.chat-login-page-controls-container h4,
.chat-login-page-controls-container input,
.chat-login-page-controls-container button {
    font-size: 18px;
    text-align: center;
    width: 100%;
}

.chat-login-page-controls-container button {
    background-color: var(--transparent-bg);
    color: var(--text-color);
    border: var(--border-style);
    padding: var(--padding) 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    backdrop-filter: var(--blur-effect);
    -webkit-backdrop-filter: var(--blur-effect); /* For Safari */
}

.chat-login-page-controls-container button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.chat-item {
    margin: var(--margin) 0 !important;
}

.chat-log {
    flex: 1;
    overflow-y: auto;
}

.chat-from-me {
    text-align: right;
    background-color: var(--transparent-bg) !important;
    backdrop-filter: var(--blur-effect);
    -webkit-backdrop-filter: var(--blur-effect); /* For Safari */
    border: var(--border-style);
}

.chat-message-input input {
    font-size: 14px;
    width: 100%;
    border: var(--border-style);
    padding: var(--padding);
    border-radius: 5px;
    color: var(--text-color);
    background-color: var(--transparent-bg);
    backdrop-filter: var(--deep-blur-effect);
    -webkit-backdrop-filter: var(--blur-effect); /* For Safari */
}

.chat-username {
    background-color: var(--transparent-bg);
    backdrop-filter: var(--blur-effect);
    -webkit-backdrop-filter: var(--blur-effect); /* For Safari */
    border: var(--border-style);
}

.chat-message-input {
    background-color: var(--transparent-bg);
    color: var(--text-color);
    backdrop-filter: var(--deep-blur-effect);
    -webkit-backdrop-filter: var(--deep-blur-effect); /* For Safari */
    border: var(--border-style);
}