:root {
    --primary-color: #020b1d; /* Deep space blue */
    --secondary-color: #0d1f2d; /* Slightly lighter deep space blue */
    --tertiary-color: #23394e; /* Dark greyish blue */
    --button-color: #1e3b5a; /* Lighter deep space blue */
    --button-color-hover: #2c5078; /* Even lighter deep space blue */
    --font-family: 'Roboto', sans-serif;
    --text-color: #bdc0c6; /* Light grey for contrast */
    --transparent-bg: rgba(255, 255, 255, 0.1);
    --blur-effect: blur(60%);
    --deep-blur-effect: blur(90%);
    --border-style: 1px solid rgba(255, 255, 255, 0.2);
    --border-radius: 10px;
    --margin: 10px;
    --padding: 10px;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background: linear-gradient(45deg, var(--primary-color) 0%, var(--secondary-color) 50%, var(--primary-color) 100%);
    background-size: 200% 200%;
    animation: gradient 10s ease-in-out infinite;
}

@keyframes gradient {
    0%, 100% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 0 50%;
    }
}